Python Statements

Control Flow Statements

Basic control flow statements 
if, elif and else statments 
Control flow uses indentations and colons

syntax :

if => 
        if some_condition :
            # execute some code
if/else => 
        if some_condition : 
            # execute some code
        else :
            # execute else code

elif => 
        if some_condition_1 :
            # execeude some code
        elif some_condition_2 : 
            # execute some code
        else : 
            # execute some code

In [6]:
is_hungry = True

if is_hungry : 
    print("My dog is hungry")

My dog is hungry

In [14]:
age = 22
# if age > 18:
#     print("You're an adult!")
# else:
#     print("You're not an adult!")

if age > 18:
    print("You're an adult!")
elif age >= 12 and age <= 18:
    print("You're a teen!")
else:
    print("You're a child")

You're an adult!

For loops

Iterable = objexct that we can iterate

syntax : 
    for item_name in my_iterable:
        # execute some code

In [19]:
list = [1, 2, 3, 4, 5]
for number in list:
    print(f"number is {number}")

number is 1
number is 2
number is 3
number is 4
number is 5

In [20]:
list_sum = 0
for num in list:
    list_sum += num
print(f"Sum of items in list is {list_sum}")

Sum of items in list is 15

In [21]:
# We can also do following
for letter in "Hello World!":
    print(letter)

H
e
l
l
o

W
o
r
l
d
!

In [24]:
# tuple unpacking
my_list = [(1,2), (3,4), (5,6)]

# for item in my_list:
#     print(item)
# instead do following

# for (a, b) in my_list:
#or
for a, b in my_list:
    print(a)
    print(b)

1
2
3
4
5
6

In [2]:
# This tuple unpacking is useful in iterating dictionaries
# exampole

my_dict = {'k1':1, 'k2':2, 'k3':3}

#By default it takes keys
for item in my_dict:
    print(item)

k1
k2
k3

In [3]:
# for getting values we have to as following
for (key, value) in my_dict.items():
    print(f"{key} has value {value}")

k1 has value 1
k2 has value 2
k3 has value 3

While loops

Will continue to iterate untill the condition becomes false

syntax : 
    while some_condition:
        # execute some code
or also can do as following
    while some_condition:
        # execute some code
    else:
        # execute some else code

In [4]:
# example
x = 0
while x < 5:
    print(f"Current value of a is {x}")
    x = x + 1
else:
    print("x is no longer less than 5")

Current value of a is 0
Current value of a is 1
Current value of a is 2
Current value of a is 3
Current value of a is 4
x is no longer less than 5

Break : Breaks out the current closest enclosing loop
Continue : Goes to the top of  the current closest enclosing loop 
Pass : Does nothing at all

In [5]:
#pass
for number in [1, 2, 3]:
    #Does nothing
    pass
print("End of loop")

End of loop

In [7]:
#continue
name = "Karan"
for letter in name:
    if letter == 'a':
        continue
    print(letter)

K
r
n

In [9]:
#break
name = "Joshi"
for letter in name:
    if letter == 's':
        break
    print(letter)

J
o

Useful operators thatr haven't seen till now

In [12]:
# range(start, stop, step) => stop is excluded and it's generator

for num in range(5):
    print(num)
print("###")
for num in range(0, 10, 2):
    print(num)

0
1
2
3
4
###
0
2
4
6
8

In [13]:
# enumerate iterators
# example
# for taking care of index and value generally we do following
index_count = 0
word = "Karan"
for letter in word:
    print(f"Letter at position {index_count} is {letter}")

Letter at position 0 is K
Letter at position 0 is a
Letter at position 0 is r
Letter at position 0 is a
Letter at position 0 is n

In [18]:
# instead we can do following
for index, item in enumerate("Karan"):
                             print(f"{index} => {item}")

0 => K
1 => a
2 => r
3 => a
4 => n

zip function

used for zipping or packing multiple items or lists in one object

In [21]:
# example
my_list1 = [1,2,3]
my_list2 = ['a','b','c']
my_list3 = [10,20,30]

zip(my_list1, my_list2, my_list3) # it gives zip object

In [22]:
for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 10)
(2, 'b', 20)
(3, 'c', 30)

in keyword

returns boolean value if item is found in object or iterable

In [24]:
# exapmle

'a' in 'Karan'

True

In [25]:
d = {'k' : 34}
34 in d.values()

True

In [27]:
# min and max

my_list_of_numbers = [1, 2, 3, 4, 5]
print(min(my_list_of_numbers))
print(max(my_list_of_numbers))

1
5

random library => usefful inbuilt library for generating random int or iterables

In [29]:
#example
from random import shuffle
shuffle(my_list_of_numbers)
my_list_of_numbers

[2, 1, 4, 3, 5]

In [30]:
from random import randint

randint(0, 100)

96

In [32]:
# input function

age = input("Enter your age")
print(age)

Enter your age 21

21

List Comprehensions

It's an alternative of creating lists using for loop and unique way and one liner

In [1]:
# using for loop
word = 'karan'
mylist = []

for letter in word:
    mylist.append(letter)

mylist

['k', 'a', 'r', 'a', 'n']

In [3]:
# instead we can do following
mylist = [letter for letter in word]
mylist

['k', 'a', 'r', 'a', 'n']

In [4]:
mylist = [num for num in range(0, 11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# we can also put if conditions in it nad also can put if else condition
## NOTE: if we are using if else condition in this type of application we have to reverse the foe and if position
## Example: mylist = [num if x%2==0 else "odd" for num in range (0,10)]
mylist = [num for num in range(0,11) if num % 2 == 0]

In [12]:
mylist

[0, 2, 4, 6, 8, 10]

In [13]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]